{% extends ":layout:Public/layout.html.twig" %}
{% block body %}
        <div class="span9">
            <h2>Mes Commandes</h2>
            <form>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Références</th>
                        <th>Date</th>
                        <th>Prix TTC</th>
                        <th>Facture PDF</th>
                        <th>Facture HTML</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if invoices|length == 0 %}
                            <tr>
                                <td colspan="4"> Vous n'avez aucune facture</td>
                            </tr>
                    {% else %}
                        {% for invoic in invoices  %}
                            <tr>
                                <td>{{ invoic.reference }}</td>
                                <td>{{ invoic.date.date|date('d/m/Y H:m:s') }}</td>
                                <td>{{ invoic.order.amountTTC}} €    </td>
                                <td><a  href="{{ path('_invoic_pdf', {'id' : invoic.id, 'token': invoic.order.token}) }}" target="_blank">Facture_{{ invoic.reference }}.pdf</a></td>
                                <td><a  href="{{ path('_invoic_html', {'id' : invoic.id, 'token': invoic.order.token}) }}" target="_blank">Facture_{{ invoic.reference }}.html</a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </form>

        </div>
{% endblock %}