{% extends ":layout:Public/layout.html.twig" %}
{% block body %}
            <h2>Livraison</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                        <form action="{{ path('_validate') }}">
                            <h4>Adresse de livraison</h4>
                            {% if user.adress|length == 0 %}
                                <div class="alert alert-danger">Aucune adresse enregistrer, Veuillez enregistrer une adresse de livraison/facturation</div>
                            {% else %}
                                {% for adress in user.adress %}
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                        {{ adress.adress }}, {{ adress.postcode }} {{ adress.city }}<a href="#"><i class="icon-trash"></i></a>
                                    </label>
                                {% endfor %}
                                <br /><br />
                            {% endif %}
                                <h4>Adresse de facturation</h4>
                             {% if user.adress|length == 0 %}
                                <div class="alert alert-danger">Aucune adresse enregistrer, Veuillez enregistrer une adresse de livraison/facturation</div>
                            {% else %}
                                {% for adress in user.adress %}
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                        {{ adress.adress }}, {{ adress.postcode }} {{ adress.city }}<a href="#"><i class="icon-trash"></i></a>
                                    </label>
                                {% endfor %}
                                <button class="btn btn-primary">Valider mon adresse de livraison</button>
                            {% endif %}

                        </form>
                    </div>
                    <div class="span3">
                        <h4>Ajouter une nouvelle adresse</h4>
                        <form action="{{ path('_delivery') }}" method="POST" {{ form_enctype(form) }}>
                            {{ form_widget(form) }}
                            <input type="submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
    {% endblock %}