{% extends ":layout:Public/layout.html.twig" %}
{% block body %}
    {% for product in products %}
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">{{ product.price |tva(product.tva.multiplicate) }} €</h4>
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.description }}</p>
                    <hr>

                </div>

                <div class="ratings">
                    <p><a class="btn btn-primary" href="{{ path('_product', { 'id' : product.id }) }}">Plus d'infos</a>
                        <a class="btn btn-success" href="{{ path('_add', { 'id' : product.id }) }}">Ajouter au panier</a></p>
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>

    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            {{ knp_pagination_render(products) }}
        </div>
    </div>


{% endblock %}