{% extends ":layout:Public/layout.html.twig" %}
{% block body %}
                <ul class="thumbnails">
                    {% for product in products %}
                        <li class="span4">
                            <div class="thumbnail">
                                <img src="product.image" alt="imgLogo" width="300" height="300">
                                <div class="caption">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.price |tva(product.tva.multiplicate) }} €</p>
                                    <a class="btn btn-primary" href="{{ path('_product', { 'id' : product.id }) }}">Plus d'infos</a>
                                    {% if cart[product.id] is not defined %}
                                        <a class="btn btn-success" href="{{ path('_add', {'id':product.id}) }}">Ajouter au panier</a>
                                    {% else %}
                                        <a class="btn btn-danger" href="{{ path('_delete', {'id':product.id}) }}">Supprimer du panier</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    <ul>
                        <li class="disabled"><span>Précédent</span></li>
                        <li class="disabled"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Suivant</a></li>
                    </ul>
                </div>
{% endblock %}