
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('_homepage') }}">My E-Commerce</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% render(controller('EcommerceBundle:Product:formSearch')) %}

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-user"> </i>
                            Mon compte
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>

                                <a href="{{ path('fos_user_profile_show') }}"> <i class="glyphicon glyphicon-folder-open">  </i>
                                    Mes informations</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_edit') }}">
                                    <i class="glyphicon glyphicon-wrench"> </i>
                                      Editer Mes informations
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">
                                    <i class="glyphicon glyphicon-object-align-horizontal"> </i>
                                     Changer mon mot de passe
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('_invoic_user') }}">
                                    <i class="glyphicon glyphicon-cloud-upload"> </i>
                                    Mes Commandes
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('_address_user', {'id' : app.user.id }) }}">
                                    Mes adresses
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li>
                                    <a href="{{ path('_homepage_admin') }}">
                                        <i class="glyphicon glyphicon-wrench"> </i>
                                         Back Office
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="glyphicon glyphicon-off"> </i>
                                     {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>

                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="glyphicon glyphicon-off"> </i>
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">

                            <i class="glyphicon glyphicon-log-in"> </i>
                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                           <i class="glyphicon glyphicon-list-alt"> </i>
                            {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>