{% set param = app.request.attributes.get('_route_params') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}My E-Commerce {% endblock %}</title>
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/template.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />

        {% endblock %}

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            {% include ":layout:Public/header.html.twig" %}
        {% endblock %}


        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include ":layout:Public/modules/navigation.html.twig" with param %}
                    {#{% include ":layout:Public/modules/user.html.twig" %}#}
                    {% include ":layout:Public/modules/cart.html.twig" %}
                </div>
                <div class="col-md-9">
                    {% if app.request.get('_route') == '_homepage' %}
                        {% include ":layout:Public/modules/carousel.html.twig" %}
                    {% endif %}
                    <div class="col-md-9">
                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block footer %}
            {% include ":layout:Public/footer.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
